h1,h2,h3{
    font-family:Futura, Helvetica, Arial, sans-serif;
}

p,li{
    font-family:Georgia, serif;
}

body{
    background-color: black;
    color:white;
}

.container{
    width: 90%;
    /*margin:0 auto;*/
    padding-top:40px;
}

/*Navigation Bar*/
.navbar-nav{
   font-size: 15px;
}

.navbar-brand a{
       color:white;
       text-decoration: none;
       font-size:16px;
       font-family: Georgia, serif;
       font-weight:bold;
       text-transform: uppercase;
}

.dropdown-menu{
    background-color: #222;
}

.dropdown-menu li a{
    color:white;
}

/*Carousel*/

.carousel-caption{
    padding-bottom: 5px;
}

.carousel{
    margin-left: -15px;
    margin-right: -15px;
}

.item h2{
    font-weight: bold;
    color: black;
    padding-bottom:0px;
    margin-bottom: 3px;
}

.item h3{
    color: black;
    padding-top: 0px;
    margin-top: 0px;
}


/*Portfolio explannation*/
#goals h2{
    text-align: center;
}

/*Work Section*/
.work_heading{
    text-align: center;
}

#work{
    background-image: url("../img/heroimage.jpg");
    background-size: cover;
    width:100%;
    margin-top: 50px;
}

#work img{
    margin: auto;
    padding:20px;

}

/*About Section*/
.about h3{
    margin-top: 0px;
}

.profile{
    padding-left:0px;
}

.skill h3{
    margin-top:0px;
}


/*Contact Section*/
.contact{
    padding-left:0px;
}

#contact{
    margin: 50px 0px;
    width:100%;
    background-image: url("../img/contact.jpg");
     /*Add a background image*/
    background-attachment: fixed;
   /*Give the background a fixed position does it not scroll when you scroll*/
    background-size: cover;
/*Have the background cover the entire div section*/
    height: 700px;
/*Change the color of the text on top so it is readable, and adjust the padding as needed.*/
    padding: 5% 10%;
}

.icon{
    width: 50px;
}

/*Glyphicon transition*/
#contact span:hover{
 color: red;
}

#contact span{
    -webkit-transition: color 300ms;
}

/*Contact form*/
.form-group{
    margin-top:20px;
}
.form-control{
    margin-bottom:20px;
}
/*end of contact section*/


/*FAQ Section*/
#FAQ{
    padding-top: 0px;
}

.FAQ h2 a{
    color: white;
}

/*FAQ Panel*/
.panel-body{
    color: white;
}

.panel-default>.panel-heading{
    background-color: #d0bf6e;
}

.panel-default{
    border-color: black;
}

.panel-collapse{
    background-color:black;
}

.learn-more {
  text-align: left;
  float: left;
}

/*FAQ Modal*/
.modal-button {
  float: right;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.modal{
    color:black;
}

#modalembed {
    height: 500px;
    width: 100%;
    padding: 10px;
}

.modal-title{
    font-size: 22px;
}

/*end of FAQ section*/

/*Footer Section*/
footer{
    width: 90%;
    margin:auto;
}

.copyright{
    float:right;
}

/*Labtop Screen*/
@media (min-width: 768px) and (max-width: 979px) {
    #contact{
        height: 800px;
    }

    #contact{
        padding-top: 20px;
    }

    .carousel-caption{
        display: none;
    }

    .col-xs-12{
        margin:auto;
    }

    .col-xs-12 p{
        font-size: 18px;

    }

    .header h1{
        font-size: 6em;
    }

    .profile{
        margin-bottom: 30px;
    }

    .about{
        padding-bottom: 50px;
    }


}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    #contact{
        height: 800px;
    }

    .col-xs-12 p{
        font-size: 20px;
    }

     .carousel-caption{
        display: none;
    }

    .nav h2{
        font-size:25px;
    }


    .nav ul li a{
        font-size: 14px;
    }

    .col-xs-12 p{
        font-size: 15px;

    }

     .header h1{
        font-size: 5em;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {

    #contact{
        height: 900px;
    }
     .carousel-caption{
        display: none
    }

    .profile{
        width:50%;
    }

    .about{
        width:50%;
    }

    .about h3{
        font-size: 20px;
    }

    .col-xs-6{
        padding:0px;
    }

}